@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #959494;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

section {
  display: flex;
  justify-content: center;
}

.weekday {
  margin-right: 5px;
  margin-top: 20px;
}

.weekday>div {
  margin-bottom: 19px;
}

.months {
  width: 106%;
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
  margin-bottom: 5px;
}

.months>div, .desc::first-letter {
  text-transform: capitalize;
}


.graph {
  height: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
}

.cell {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #EDEDED;
}

.cell:hover {
  border: 1px solid rgba(0, 0, 0, 0.50);
}

.d-n {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: absolute;
  z-index: 1;
  padding: 5px;
  top: -60px;
  left: -65px;
  width: 145px;
  height: 52px;
  background-color: black;
  border-radius: 3px;
  color: white;
}

.desc {
  font-size: 10px;
  color: #7C7C7C;
  text-align: center;
}

.triangle {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid black;
  position: absolute;
  bottom: -8px;
}


.cell1 {
  background-color: #ACD5F2;
}

.cell10 {
  background-color: #7FA8C9;
}

.cell20 {
  background-color: #527BA0;
}

.cell30 {
  background-color: #254E77;
}